# Database connection string
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/smartcampus
POSTGRES_PASSWORD=postgres

# Hadoop / HDFS settings
HDFS_URL=http://namenode:9870
HDFS_USER=hadoop

# MQTT configurations (Public HiveMQ for Wokwi simulation)
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_TOPIC=smartcampus/+/sensors/#

# Cloudflare Zero Trust Tunnel Token
CLOUDFLARE_TOKEN=your_cloudflare_tunnel_token_here
